<section class="hero is-medium is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="hero-container">
        <div class="hero-left-content">
          <h1 class="title">Hey, I'm John Doe!</h1>
          <h2 class="subtitle">
            <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</i>
          </h2>
        </div>
        <div class="hero-right-content">
          <object
            width="450"
            style="float: right"
            type="image/svg+xml"
            data="../../../assets/svg-sample.svg"
          ></object>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="content-top-adjust">
  <app-tiles></app-tiles>
  <div class="content-top-adjust"></div>
  <app-contact-form></app-contact-form>
</div>
