<div class="main-page-content-top-adjust"></div>
<div class="container is-max-desktop">
  <div class="card">
    <div class="card-content">
      <h1 class="title">Blogs</h1>
      <hr />
      <div class="blog-summary-container">
        <div class="columns">
          <div class="column is-2">
            <span class="tag is-info">
              <i class="fas fa-calendar" aria-hidden="true"></i>
              <span class="date-section"></span>
              April 03, 2020
            </span>
          </div>
          <div class="column is-10">
            <p class="title is-3">
              <a [routerLink]="['/blog/posts/how-to-train-your-dragon']"
                >How to train your dragon?</a
              >
            </p>
            <p class="subtitle is-5">
              In this blog, we are going to train or tame a dragon inspired from
              the movie.
              <a [routerLink]="['/blog/posts/how-to-train-your-dragon']"
                >Read more...</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
